<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login Form</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="loginBox">
<img src="images.png" class="user">
<h2>Sign Up</h2>
<form>
<p>UserName</p>
<input type="text" name="" placeholder="Enter UserName" type="text">
<p>RollNo</p>
<input type="text" name="" placeholder="Enter RollNo" type="text">
<p>Password</p>
<input type="password" name="" placeholder="Enter Password" type="password">
<p>Confirm Password</p>
<input type="text" name="" placeholder="Confirm Password" type="text">
<input type="submit" name="" value="Sign Up">
<a href="index1.html">Already Have an Account</a>
</form>
</div>
</body>
</html>
